# Production Environment Variables
API_KEY=CHANGE_ME_TO_A_SECURE_KEY
DASHBOARD_API_KEY=CHANGE_ME_TO_A_SECURE_KEY
EMAIL_PROVIDER=SendGrid
FROM_EMAIL=your-production-email@amankayare.com
SENDGRID_API_KEY=your-production-sendgrid-api-key
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
